body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 11pt;
    line-height: 21px;
	color: #222;
	background-color: #f6f6f6;
    font-family: "Palatino Linotype";
}
#header{
    padding: 10px;
    overflow: hidden;
	background-color: #254117;
}
#header a{
	color: #fff;
	display: block;
	font-size: 2.75em;
	padding: 25px 0;
	text-decoration: none;
}
#wrapper{
	padding: 15px;
    overflow: hidden;
}
#wrapper #leftCol{
    float: left;
    width: 200px;
}
#wrapper #rightCol{
    float: left;
    width: 250px;
}

.navMenu{
    padding: 0;
    margin: 25px 0 0 0;
    list-style: none;
    overflow: hidden;
}
.navMenu li{
    list-style: none;
}
.navMenu li a{
    float: left;
    margin-right: 25px;
}
h1, h2, h3, h4, h5, h6{
	color: #254117;
	padding: 10px 0 0 0;
	margin: 5px 0 0 0;
}
p{
	padding: 10px 0 0 0;
	margin: 5px 0 0 0;
}
.code{
	font-family: Consolas;
	font-weight: bold;
	color: #254117;
	padding: 5px;
	margin: 5px;
	border: 1px solid #222;
	background-color: #dedede;
}
.row{
	padding: 0px;
	margin: 5px 0;
	overflow: hidden;
	clear: both;
}
.row li{
	width: 50px;
	text-align: center;
	padding: 10px 5px;
	list-style: none;
	float: left;
	margin: 0 3px;
	font-size: 14pt;
	display: block;
	color: #254117;
}